<header>
    <h3> Welcome {{ (_stateService.state$ | async).player_name }}</h3>
    <h3 *ngIf="(_stateService.state$ | async).iswinner === true">There is a winner, Player 1 - Xs</h3>
    <h3 *ngIf="(_stateService.state$ | async).iswinnerO === true">There is a winner, Player 2 - 0s</h3>
    <h3 *ngIf="(_stateService.state$ | async).iswinner === false && (_stateService.state$ | async).iswinnerO === false" >
        {{ (_stateService.state$ | async).turn == 'PLAYER X' ? "Turn of Player 1 - Xs" : "Turn of Player 2 - 0s"  }}
    </h3>
</header>